@import "tailwindcss";
@font-face {
  font-family: "Noto Sans JP";
  src: url("/fonts/NotoSansJP-Thin.woff2") format("woff2");
  font-weight: 100;
}

@font-face {
  font-family: "Noto Sans JP";
  src: url("/fonts/NotoSansJP-ExtraLight.woff2") format("woff2");
  font-weight: 200;
}

@font-face {
  font-family: "Noto Sans JP";
  src: url("/fonts/NotoSansJP-Light.woff2") format("woff2");
  font-weight: 300;
}

@font-face {
  font-family: "Noto Sans JP";
  src: url("/fonts/NotoSansJP-Regular.woff2") format("woff2");
  font-weight: 400;
}

@font-face {
  font-family: "Noto Sans JP";
  src: url("/fonts/NotoSansJP-Medium.woff2") format("woff2");
  font-weight: 500;
}

@font-face {
  font-family: "Noto Sans JP";
  src: url("/fonts/NotoSansJP-SemiBold.woff2") format("woff2");
  font-weight: 600;
}

@font-face {
  font-family: "Noto Sans JP";
  src: url("/fonts/NotoSansJP-Bold.woff2") format("woff2");
  font-weight: 700;
}

@font-face {
  font-family: "Noto Sans JP";
  src: url("/fonts/NotoSansJP-ExtraBold.woff2") format("woff2");
  font-weight: 800;
}

@font-face {
  font-family: "Noto Sans JP";
  src: url("/fonts/NotoSansJP-Black.woff2") format("woff2");
  font-weight: 900;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Noto Sans JP", sans-serif;
}
